body {
	margin: 0;
	padding: 0;
}

/*Navbar*/
.navbar-component {
	background: linear-gradient(to right, rgb(142, 14, 0, 0.8), rgb(31, 28, 24, 0.8));
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.navbar-brand {
	font-size: 2rem !important;
}

/*About button*/
.about-app {
	border: 1px solid;
	padding: .4rem;
	color: #fff;
	font-size: 1rem;
	background: linear-gradient(to right bottom, rgb(142, 14, 0, 0.8), rgb(31, 28, 24, 0.8));
	cursor: pointer;
}

.about-app:focus {
	outline: none;
	
}

.about-app:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-fonts {
	font-family: 'Nunito', sans-serif;
}

/*Search Menu section*/
.search-section {
	height: auto;
}

.search-container {
	padding: 6rem 0 2rem 0;
	background: #ECF0F1;
	height: auto;
}

.search-head {
	margin: 0 20% 0 20%;
	background: linear-gradient(to right, rgb(142, 14, 0, 0.8), rgb(31, 28, 24, 0.8));
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.search-head-text {
	color: #fff;
}

.search-content {
	margin: 0 20% 0 20%;
	background: linear-gradient(to right, rgb(142, 14, 0, 0.8), rgb(31, 28, 24, 0.8));
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
	color: #fff;
}

.search-menu-head {
	font-size: 2rem;
	padding-top: .4rem;
}

.search-box-margin {
		margin: 0 10% 0 10%;
		padding: 1rem 2rem 1rem 2rem;
}
.search-content {
	margin-top: 1rem;
}

.search-content-fonts {
	font-size: 1.2rem;
}

/*Submit Button*/
.submit-button-head {
	margin: 0 20% 0 20%;
	padding: 1rem;
	margin-top: .5rem;
}

.submit-button {
	width: 10rem;
	background: #fff;
	border:1px solid;
	cursor: pointer;
	padding: .5rem;
	color: #660a00;
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
}

.submit-button:focus {
	outline: none;
}
.submit-button:active {
	box-shadow: 0 0 5px rgba(192,57,43,.9);
}

/*Movie info cards*/
.movie-cards-head {
	margin-bottom: 2rem;
}
.movie-info-card {
	font-family: 'Nunito', sans-serif;
	margin: .5rem;
}
.movie-card-img {
	height: 20rem;
}

/*Footer*/
.footer-section {
	height: 3rem;
	background: linear-gradient(to right, rgb(142, 14, 0, 0.8), rgb(31, 28, 24, 0.8));
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 -1px 2px rgba(0,0,0,.5);
}
.footer-head {
	height: 100%;
}
.footer-body {
	padding-top: .8rem;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
}

/*Media Queries*/
@media only screen and (max-width: 500px) {

	.search-head {
		margin: 0 5% 0 5%;
	}
	.search-content {
		margin: 1rem 5% 0 5%;
	}
	.search-container {
		padding: 2rem 0 2rem 0;
	}
	.about-app {
		font-size: .8rem;
	}
}

@media only screen and (max-width: 350px) {

	.navbar-brand {
	font-size: 1.5rem !important;
	}
	.search-head {
		margin: 0;
	}
	.search-content {
		margin: 0;
		margin-top: 1rem;
	}
	.search-menu-head {
		font-size: 1.5rem;
	}
	.search-content-fonts {
	font-size: 1rem;
}

}